<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <ul class="navbar-nav pull-right">
            <li class="navbar-item">
                <button href="/">Logout</button>
            </li>
            <ul class="navbar-item">
                <li style="padding-right:100px">CSR Name</li>
                <li>CSR ID</li>
            </ul>
        </ul>
    </div>
</nav>