<div class="nav">
    <div class="nav-item">
        <div href="#" class="main-item main-item-header" style="color: white;">
            <img src="/assets/tjx-1-1.png" style="max-height: 100px;" href="/"></span>
        </div>
    </div>
    <div class="nav-item">
        <a href="/customers">
            <div class="main-item">
                <span><i class="fas fa-user-tag" style="color:white; padding-right:5px;"></i>Customers</span>
            </div>
        </a>
        <div class="sub-items">
            <a href="/customers/newCustomer">
                <div class="sub-item">
                    <span>New Customer</span>
                </div>
            </a>
            <a href="/customers">   
                <div class="sub-item">
                    <span>Customers</span>
                </div>
            </a>
        </div>
    </div>
    <div class="nav-item">
        <a href="/orders">
            <div class="main-item">
                <span><i class="fas fa-credit-card" style="color:white;padding-right:5px;"></i>Orders</span>
            </div>
        </a>
        <div class="sub-items">
            <a href="/newOrder">
                <div class="sub-item">
                    <span>New Order</span>
                </div>
            </a>
            <a href="/orders">
                <div class="sub-item">
                    <span>Orders</span>
                </div>
            </a>
        </div>
    </div>
    <div class="nav-item">
        <a href="/products">
            <div class="main-item">
                <span><i class="fas fa-tag" style="color:white; padding-right: 5px;"></i>Products</span>
            </div>
        </a>
    </div>
</div>