<div class="topnav">
  <ul>
    <li><a href="/logout"><button class="button logout-button">Logout</button></a></li>
    <!--
    <li class="topnav-details">CSR ID: </li> 
    
    <li class="topnav-details">CSR Name: </li>
    -->

  </ul>
</div>