<div class="topnav">
  <ul>
    <li><a href="/logout"><button class="button logout-button">Logout</button></a></li>
    <li class="topnav-details">CSR ID: <!--INSERT CSR ID DATA HERE --></li>
    <li class="topnav-details">CSR Name: <!-- INSERT CSR NAME DATA HERE --></li>
  </ul>
</div>