<!DOCTYPE html>

<html lang="en">
    <head>
    <!--GET request to the api to retreive customer data
        Create HTML table from resultant JSON object-->
    </head>
    <body>
        <h1>This is the customers page</h1>
        <ul>
            <li><a href="customers/newCustomer">Add new customer</a></li>
            <li><a href="/newOrder">Add new order</a></li>
            <li><a href="/customers">Go to customers page</a></li>
            <li><a href="/orders">Go to orders page</a></li>
            <li><a href="/products">Go to products page</a></li>
        </ul>
        <table class="table">
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Notes</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <!--object called customers-->
                
            </tbody>
            <tfoot></tfoot>
        </table>
    </body>
</html>