<!DOCTYPE html>

<html lang="en">
    <head>

    </head>
    <body>
        <h1>Delete Customer</h1>
        <form name="deleteCustomer" method="DELETE" action="/customers">
            <table>
                <tr>
                    <td>Customer ID</td>
                    <td><input type="text" name="customerid" ></td>
                </tr>
            </table>
            </form>   
    </body>
</html>