<!DOCTYPE html>

<html lang="en">
    <head>

    </head>
    <body>
        <h1>Indexx</h1>
        <!--this doesn't work because we need something more on backend to route this-->
        <a href="/newCustomer">Add new customer</a>
        <a href="/customers">test customer endpoint get</a>
        
    </body>
</html>