<!DOCTYPE html>

<html lang="en">
    <head>

    </head>
    <body>
        <h1>Indexx</h1>
        <!--this doesn't work because we need something more on backend to route this-->
        <ul>
            <li><a href="customers/add">Add new customer</a></li>
            <li><a href="orders/add">Add new order</a></li>
            <li><a href="customers">Go to customers page</a></li>
            <li><a href="orders">Go to orders page</a></li>
            <li><a href="products">Go to products page</a></li>
        </ul>
    </body>
</html>
