<!DOCTYPE html>

<html lang="en">


<head>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/global.css">

</head>

<body>
    <%- include('partials/topbar') %>
    <%- include('partials/side-nav') %>
    <div class="page-content">
        <!-- 4 buttons: New order, Orders, Customers, Products -->
        <div class="grid2x2">
            <div class="box-border">
                <a href="/orders/add">
                    <div class="box">
                        <div>New Order</div>
                    </div>
                </a>
            </div>
            <div class="box-border">
                <a href="/orders">
                    <div class="box">
                        <div>Orders</div>
                    </div>
                </a>
            </div>
            <div class="box-border">
                <a href="/customers">
                    <div class="box">
                        <div>Customers</div>
                    </div>
                </a>
            </div>
            <div class="box-border">
                <a href="/products">
                    <div class="box">
                        <div>Products</div>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <%- include('partials/footer') %>
</body>

</html>
