<!DOCTYPE html>

<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <link rel="stylesheet" href="/css/global.css">

    </head>
    <body>
        <div class="page-content">

        <h1>New Customer</h1>
        <form name="newCustomer" enctype="application/x-www-form-urlencoded" method="POST" action="/customers">
            <table>
                <tr>
                    <td>First name</td>
                    <td><input type="text" name="fname" ></td>
                </tr>
                <tr>
                    <td>Middle name</td>
                    <td><input type="text" name="mname" ></td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td><input type="text" name="lname" ></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td><input type="text" name="phone" ></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email" ></td>
                </tr>
                <tr>
                    <td>Shipping Addresss</td>
                    <td><input type="text" name="shipaddress" ></td>
                </tr>
                <tr>
                    <td>Billing Addresss</td>
                    <td><input type="text" name="billaddress" ></td>
                </tr>
                <tr>
                    <td>Notes</td>
                    <td><input type="text" name="notes" ></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Submit" ></td>
                </tr>
            </table>
            </form>   
        </div>
    </body>
</html>