<!DOCTYPE html>

<html lang="en">
    <head>

    </head>
    <body>
        <h1>New Order</h1>
        <!--we need a form here like newCustomer and a POST to the right endpoint-->
    </body>
    </html>
