<!DOCTYPE html>

<html lang="en">
    <head>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <link rel="stylesheet" href="/css/global.css">

    </head>
    <body>
        <div class="page-content">
        <h1 style="margin-bottom:30px">New Order</h1>
        <form name="newOrder" method="POST" action="/orders">
            <table>
                <tr>
                    <td>Customer ID</td>
                    <td><input class="input"type="text" name="customer_id" ></td>
                </tr>
                <tr>
                    <td><button id="newCustomer" type="button">Add New Customer</button></td>
                </tr>
                <tr>
                    <td>
                        Products
                        <p>Add each product and its quantity on a separate line, separate product id and quantity by a space</p>
                    </td>
                    <td><textarea class="textarea" type="text" name="product_list" id="product_list" ></textarea></td>
                </tr>
                <tr>
                    <td>Notes</td>
                    <td><textarea class="textarea" type="text" name="order_notes" id="order_notes" ></textarea></td>
                </tr>
                <!--<tr>
                    <td><button type="button" id="addProductButton" class="btn btn-primary" >Add to Order</button></td>-->

                    <!--OPTION 1-->
                    <!--on click, take data from textbox (product id) pass as parameter to createProductList()
                            in that function:  if product id exists in the object, increase the count, else, add with count of 1
                        Example object: 
                            order = {
                                123: 2,
                                34: 5
                            }-->
                    
                    <!--OPTION 2-->
                    <!--make CSR enter product ID and quantity in textbox, either separated by spaces or colons?
                        pass that string to the api, backend handles interpreting it-->
                <!--</tr>-->
                <!--<table id="orderTable" border="1">
                    <caption>Order Details</caption>
                    <thead>
                        <tr>
                            <th>Product Name</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>-->
                <tr>
                    <td colspan="2"><input type="button" value="Add to Drafts" ></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Submit" ></td>
                </tr>
                <!--<tr>
                    <td colspan="2"><button type="button" id="submitButton" class="btn btn-primary">Submit</button></td>
                </tr>-->
            </table>
        </form>   
        <script>
        document.getElementById("addProductButton").addEventListener("click", orderUpdate, false);
        document.getElementById("submitButton").addEventListener("click", submitForm, false);
        document.getElementById("newCustomer").onclick = function () {
            location.assign("/newCustomer");
        };
        function orderUpdate(){
            if ($('#productname').val() != null && $('#productname').val() != '') {
                productAddToTable();
                formClear();
                $('#productname').focus();
            }
        }
        
        function productAddToTable(){
            // First check if a <tbody> tag exists, add one if not
            if ($('#orderTable tbody').length == 0) {
                $('#orderTable').append("<tbody></tbody>");
            }
        
            // Append product to the table
            $('#orderTable tbody').append("<tr>" +
                "<td>"+ $('#productname').val() + "</td>" +
                "</tr>");
        }
        function formClear(){
            $('productname').val("");
        }
        function submitForm(){
            document.newOrder.submit();
            console.log("Form submitted successfully!")
        }
        </script>
        </div>
    </body>

</html>
