<!DOCTYPE html>

<html lang="en">
    <head>

    </head>
    <body>
        <h1>This is the products page</h1>
        <ul>
            <li><a href="/newCustomer">Add new customer</a></li>
            <li><a href="/newOrder">Add new order</a></li>
            <li><a href="/customers">Go to customers page</a></li>
            <li><a href="/orders">Go to orders page</a></li>
            <li><a href="/products">Go to products page</a></li>
        </ul>
    </body>
</html>