.page-content{
    padding:80px 0px 80px 80px;
    margin-left: 150px;
    background-color: rgb(250,249,241);
}
.table{
    margin-left:auto;
    margin-right:auto;
}
.fa-trash-alt{
    color: rgb(155, 12, 35);
}
.button.is-success{
    background-color: #00A676 !important;
}