html {
  background-color: rgb(250, 249, 241);
}
.page-content {
  margin-left: 150px;
}
/*product catalog dropdown*/
.dropdown_content {
  display: none;
}

.show {
  display: block;
}

#dropDown {
  position: relative;
  background-color: white;
  border-radius: 10px;
}
.fa-trash-alt {
  color: rgb(155, 12, 35);
}
.button.is-success {
  background-color: #00a676 !important;
}

h1 {
  font-size: 60px;
  color: black;
  font-weight: 550;
  text-align: center;
}
.button {
  margin-bottom: 20px;
}
input {
  margin-bottom: 10px;
}
/* table styling */
.table-container {
  width: 80vw;
  height: 80vh;
  overflow-x: scroll;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#customerSearch {
  width: 40%;
}
#productSearch {
  width: 40%;
}
#orderSearch {
  width: 40%;
}

/*new order styling */
#newOrder_productSearch {
  width: 100%;
}

#dropDown {
  height: 300px;
  overflow-x: scroll;
}

/* new customer styling */
#newCustomer_table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(250, 249, 241);
}

#newCustomer_button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
}

#addOrder_button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
}

/*new order styling */
#newOrder_table {
  background-color: rgb(250, 249, 241);
}

#order_notes {
  width: 80px;
}
