body {
  margin:0px;
  font-family: "Open Sans",sans-serif;
}
a {
  text-decoration: none;
}

.nav {
  position:fixed;
  top:0px;
  left:0px;
  width: 150px;
  height: 100vh;
  background:rgb(155, 12, 35);
  z-index: 2;
}
.nav span {
  display:block;
  font-size:14px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin-top:10px;
}
.nav .nav-item{
  position:relative;
  width:100%;
  text-align:center;
}
.nav .main-item-header{
  background-color: white;
  padding: 0 !important;
}
.nav .main-item-header:hover{
  background-color: rgb(155, 12, 35) !important;
  cursor: pointer;
}

.nav .main-item, .nav .sub-item{
  padding: 15px 0px;
  background:rgb(155, 12, 35);
  border: 0.5px solid black;
  border-top: 0.5px black;
  border-left: 0.5px black;
}
.nav .nav-item .sub-items {
  position: absolute;
  top: 0px;
  left:0px;
  width: inherit;
  z-index: -1;
  transition: all 80ms ease-in-out;
}
.nav .main-item:hover, .nav .sub-item:hover{
  filter:brightness(1.3);
  cursor: pointer;
}

.nav .nav-item:hover .sub-items {
  left: 150px;
}
.grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.grid2x2 div> a > div {
  display: flex; 
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: column;
}
.grid2x2 >div > a > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.box-border {
  margin: 20px;
}
.box {
  background-color: rgb(155, 12, 35);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
.box:hover{
  filter:brightness(1.3);
}
.box:active{
  filter:brightness(1.3);
}

.topnav{
  margin: 10px;
  float: right;
}